<div class="container">
  <div class="row">
    
    <div *ngIf="profSelected.id !=0" class="col-sm-6">
      <div class="row">
        <div class="mr-auto">
          <app-titulo [titulo]="'Cód. Professor:'+ profSelected.id"></app-titulo>
        </div>
        <div class="mt-1">
          <button class="btn btn-sm btn-outline-danger"(click)="voltar()">Voltar </button>
        </div>
      </div>
      
      <form [formGroup]="professoresForm"(submit)="onSubmit()">
        <div class="form-group">
          <label>Nome</label>
          <input type="text" formControlName="nome" class="form-control">
        </div>
        <div class="form-group">
          <label>Disciplina</label>
          <input type="text" formControlName="disciplina" class="form-control" >
        </div>
        <div class="row form-group">
          <button class="bt btn-succsess">salvar</button>
        </div>
      </form>
    </div>

    <div [ngClass]="{'col-sm-6':profSelected.id !=0,'col-sm-12': profSelected.id ==0}">
      <app-titulo [titulo]="titulo"></app-titulo>
      <table class="table table-hover">
        <thead class="thead-dark">
          <tr>
            <th scope="col">Visualizar</th>
            <th scope="col">#</th>
            <th scope="col">Nome</th>
            <th scope="col">Disciplina</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let prof of professores" style="cursor: pointer" (click)="profSelect(prof)">
            <td><button (click)="profSelect(prof)" class="text-dark btn btn-sm btn-warning">detalhe</button></td>
            <th scope="row">{{prof.id}} </th>
            <td>{{ prof.nome}}</td>
            <td>{{prof.disciplina}}</td>
            <td class="btn-group">
              <button class="text-dark btn btn-sm btn-outline-danger">Excluir</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    
  </div>
  