<div class="container">
  <div class="row">
    
    <div *ngIf="professorSelected.id !=0" class="col-sm-6">
      
      <app-titulo [titulo]="(professorSelected.id === -1 ? 'novo Professor': 'código: ' + professorSelected.id)">
        <button class="btn btn-sm btn-outline-danger"(click)="voltar()">Voltar </button>
      </app-titulo>
      
      <form [formGroup]="professoresForm"(submit)="onSubmit()">
        <div class="form-group">
          <label>Nome</label>
          <input type="text" formControlName="nome" class="form-control">
        </div>
        
        <div class="row form-group">
          <button class="bt btn-succsess"[disabled]="!professoresForm.valid">salvar</button>
        </div>
      </form>
    </div>

    <div [ngClass]="{'col-sm-6':professorSelected.id !=0,'col-sm-12': professorSelected.id ==0}">
      <app-titulo [titulo]="titulo">
        <button class="btn btn-sm btn-outline-danger"(click)="novoProfessor()">novoProfessor </button>
      </app-titulo>
      <table class="table table-hover">
        <thead class="thead-dark">
          <tr>
            <th scope="col">Visualizar</th>
            <th scope="col">#</th>
            <th scope="col">Nome</th>
            <th scope="col">Opções</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let prof of professores" style="cursor: pointer" (click)="profSelect(prof)">
            <td><button (click)="profSelect(prof)" class="text-dark btn btn-sm btn-warning">detalhe</button></td>
            <th scope="row">{{prof.id}} </th>
            <td>{{ prof.nome}}</td>
            <td class="btn-group">
              <button (click)="excluirProfessor(prof)" class="text-dark btn btn-sm btn-outline-danger">Excluir</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    
  </div>

</div>
  